.container {
  width: 1280px;
  margin: 0 auto;
  background: #e6dfdf;
}



body {
  color: #515076;
  font-family: 'montserrat', sans-serif;
  letter-spacing: 0%;
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
  margin-left: 217px;
  margin-right: 217px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 45px;
  justify-content: center;

}


.card {
  width: 340px;
  border: 1px solid #e8e7ef;
  background: #f7f6fb;
  padding: 25px;
}

.card-img {
  width: 290px;
  height: 245px;
  object-fit: cover;
  margin-bottom: 25px;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-bottom: 5px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin-bottom: 5px;
}

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 15px;
}


.composition {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 5px;
}

ul {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.price-row {
  color: #515076;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}